@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Outfit:wght@100..900&family=Playwrite+VN:wght@100..400&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary :#5044E5;
}
